<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VocabularyGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VocabularyGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <VocabularyGame.Properties.Settings>
            <setting name="ATLexicon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ATSynonyms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ATMacedonian" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoPronounce" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Countdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DictionaryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="RepeatingsLimit" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RepeatWrongs" serializeAs="String">
                <value>True</value>
            </setting>
        </VocabularyGame.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <VocabularyGame.Properties.Settings>
            <setting name="CountdownSeconds" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GStaticLink" serializeAs="String">
                <value>https://ssl.gstatic.com/dictionary/static/sounds/de/0/</value>
            </setting>
            <setting name="RecordsSuffix" serializeAs="String">
                <value>_records.dat</value>
            </setting>
            <setting name="RepeatsSuffix" serializeAs="String">
                <value>_repeats.dat</value>
            </setting>
            <setting name="WrongsLimit" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WrongsSuffix" serializeAs="String">
                <value>_wrongs.dat</value>
            </setting>
            <setting name="TimeAfterChoice" serializeAs="String">
                <value>3</value>
            </setting>
        </VocabularyGame.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
